# PHPCENSOR configuration file
#
# v.0.2

build_settings:
    ignore:
        - "tests"
        - "vendor"

setup:
    composer:
        action: "install"

test:
    technical_debt:
        allowed_errors: -1
    php_parallel_lint:
        directory: "src"
    php_unit:
        config: "tests/phpunit.xml"
    php_docblock_checker:
        allowed_warnings: -1
    php_cpd:
        allow_failures: true
        path: "."
        ignore:
            - "config"
    php_loc:
        directory: "."

failure:
    email:
        committer: true
        cc: ["your@email.com"]

complete:
    email:
        committer: true
        cc: ["your@email.com"]