# ZfMailer
# ---------------
# PHPCendsor configuration file
#
# Author:       Daniel Wolkenhauer <hello@dw-labs.de>
# Copyright:    (c) 2012 -2019 Daniel Wolkenhauer
# Home:         http://dw-labs.de
# Version:      2.0.0
# -----
# v.0.4

build_settings:
    ignore:
        - "tests"
        - "vendor"

setup:
    composer:
        action: "install"

test:
    technical_debt:
        allowed_errors: -1
    php_parallel_lint:
        directory: "src"
    php_unit:
        config: "tests/phpunit.xml"
    php_docblock_checker:
        allowed_warnings: -1
    php_cpd:
        allow_failures: true
        path: "."
        ignore:
            - "config"
    php_loc:
        directory: "."

failure:
    email:
        committer: true
        cc: ["your@email.com"]

complete:
    email:
        committer: true
        cc: ["your@email.com"]
